<form action="/new" method="post">
  <label for="user">user</label>
  <input type="text" name="user" required />

  <label for="message">message</label>
  <textarea name="message" required></textarea>

  <button type="submit">send</button>
</form>
